.todolistPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.todolist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.todoimage {
  width: 20rem;
}

.ant-card-head-title {
  font-size: 1.3rem;
}

.bold-text {
  font-weight: 500;
}

.content{
    text-align: left;
}